#loadingUI{
    display: none;
    justify-content: center;
    height: 100%;
    align-items: center;
}
#logo{
    width: 100%;
}
#authUI p{
    background: #5184b0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#authUI input{
    width : 100%;
}

#registerUI p{
    background: #5184b0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#registerUI input{
    width : 100%;
}

#companyUI{
    width: 100%;
}

#previewImg{
    width: 100%;
    padding: 3%;
}

.menu-btn{
    display: flex;
    flex-direction: row;
}

#addToListBtn{
    flex: 3;
}
#submitLogoutBtn{
    flex: 3;
}
#closeExtension{
    flex: 3;
}

#previewText{
    text-align: center;
}

#submitLoginBtn{
    background-color: rgb(32, 96, 142);
    width: 100%;
}
#submitLoginBtn:hover :focus{
    background-color: rgb(139, 181, 226);
    width: 100%;
}

#submitRegisternBtn{
    background-color: rgb(32, 96, 142);
    width: 100%;
}
#submitRegisternBtn:hover :focus{
    background-color: rgb(139, 181, 226);
    width: 100%;
}